.markdown-preview-view :is(ul > li.task-list-item.is-checked) {
  text-decoration: none;
  color: var(--text-normal);
}
body {
  --checklist-done-decoration: none;
  --checklist-done-color: var(--text-muted);
}